#main-header {
  background-color: #eee;
  @include display(flex);
  @include rem(height, 4.8);
  position: fixed;
    left: 0;
    top: 0;
  width: 100%;

  button,
  h1 {
    @include flex(1);
    @include rem(font-size, 1.6);
    @include rem(line-height, 2.4);
    outline: none;
    margin: 0;
    @include rem(padding, 1.2);
  }

  button {
    @include appearance(none);
    background-color: inherit;
    border: none;
    @include rem(width, 4.8);

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  h1 {
    text-align: center;
  }
}