@import "all";


/******************************************************************************/
/*********************************** MOBILE ***********************************/
/******************************************************************************/

.wizard-navigation {
  @include rem(padding, 1.2);
  text-align: center;

  li {
    display: inline-block;
    @include rem(margin, 0, 1.2);

    a,
    span {
      display: block;
    }

    a {
      color: $grey-dark;
      @include rem(font-size, 1);
      text-transform: uppercase;

      &.active span {
        background-color: $green-light;
        color: $white;
      }
    }

    span {
      background-color: $beige-light;
      border-radius: 50%;
      @include rem(font-size, 1.2);
      @include rem(height, 4.8);
      @include rem(margin-bottom, 0.6);
      @include rem(padding, 1.5);
      @include rem(width, 4.8);
      text-transform: uppercase;

      &:hover {
        background-color: $green-light;
        color: $white;
      }

      &:active {
        color: $green-dark;
      }
    }
  }
}

#device-states {
  p {
    @include rem(padding, 1.2);
  }
}

.wizard form {
  label {
    display: block;
    @include rem(padding, 0.6, 1.2);
  }
}