<ul>
  <li><a data-ng-click="showNavigation()" data-ng-class="{active: $state.includes('dashboard')}" ui-sref="dashboard">Dashboard</a></li>
  <li><a data-ng-click="showNavigation()" data-ng-class="{active: $state.includes('devices')}" ui-sref="devices">Devices</a></li>
  <li><a data-ng-click="showNavigation()" data-ng-class="{active: $state.includes('rules')}" ui-sref="rules">Rules</a></li>
  <li><a data-ng-click="showNavigation()" data-ng-class="{active: $state.includes('settings')}" ui-sref="settings">Settings</a></li>
</ul>