@import "all.scss";

.modal .wizard {
  height: 100%;
}

.wizard {
  // display: block;
  // position: relative;
  // width: 100%;

  .tab-bar {
    @include rem(font-size, 1.2);
    @include rem(line-height, 1.2);
    @include rem(height, 4.9);
    position: fixed;
      bottom: 0;
    width: 100%;

    button {
      cursor: pointer;
      @include rem(padding, 2, 1.2, 1.7);   
      position: inherit;
        bottom: inherit;   

      &.prev {
        left: 0;
      }

      &.next {
        right: 0;
      }
    }
  }
}




// .progress {
//   background-color: $white-transparent-dark;
//   counter-reset: step;
//   overflow: auto;

//   li {
//     color: $white-transparent-light;
//     float: left;
//     @include rem(font-size, 1.2);
//     @include rem(line-height, 1.2);
//     list-style-type: none;
//     @include rem(padding, 0.7, 0.6);
//     position: relative;
//     text-align: center;
//     text-transform: uppercase;
//     width: 33.33%;

//     &.active {
//       color: $white;
//     }
//   }
// }

// .wizard {
//   @include rem(padding-bottom, 5.5);
//   position: relative;
// }

// .wizard .navigation {
//   background-color: $green-dark;
//   border-top: $bw-normal solid $white-transparent-dark;
//   @include rem(height, 5.5);
//   position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;

//   button {
//     @include appearance(none);
//     background-color: transparent;
//     border: none;
//     color: $white;
//     cursor: pointer;
//     @include rem(font-size, 2);
//     @include rem(height, 5.5);
//     outline: none;
//     margin: 0;
//     @include rem(padding, 1.3, 0, 1.2);
//     position: fixed;
//     text-align: left;
//     @include rem(width, 5.5);

//     &:hover {
//       background-color: $white-transparent-dark;
//     }

//     &.prev {
//       border-right: $bw-normal solid $white-transparent-dark;
//       left: 0;
//     }

//     &.next {
//       border-left: $bw-normal solid $white-transparent-dark;
//       right: 0;
//     }
//   }
// }