<div>
<!--   <ol class="progress">
    <li data-ng-class="{ active: isCurrentStep(step) }" data-ng-repeat="step in steps">{{ step.title }}</li>
    <li data-ng-repeat="step in steps">Test {{ step.title }}</li>
  </ol> -->

  <div data-ng-transclude></div>

  <!-- <div class="navigation">
    <button class="prev" data-ng-click="wizardControl.external.prev()" data-ng-show="wizardControl.external.hasPrev()">&lang;</button>
    <button class="next" data-ng-click="wizardControl.external.next()" data-ng-show="wizardControl.external.hasNext()">&rang;</button>
  </div>   -->
</div>