/*
 * 1. SASS (Variables, Functions, Mixins and Libraries)
 */

@import "../sass/all";

/*
 * 2. Base
 */

// @import "sass/layout";
// @import "sass/typography";

/*
 * 3. Components
 */

// @import "sass/components";
@import "component-templates/navigation.scss";
@import "component-templates/header.scss";

html {
  @include background(linear-gradient($c-green-standard, $c-turquoise-standard));
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  @include box-sizing(border-box);
  font-size: 62.5%;                     // 10px / 16px (= standard font-size in all modern browsers)
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu';
  @include rem(font-size, 1.6);
  height: 100%;
  @include rem(line-height, 2.4);
}

a {
  color: #fff;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: uppercase;
}

h2 {
  // background-color: rgba(255, 255, 255, 0.05);
  background-color: #90ccaf;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  @include rem(padding, 0.6);
  text-align: center;
}

button {
  @include appearance(none);
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  color: #fff;
  display: block;
  @include rem(font-size, 1.6);
  @include rem(line-height, 2.4);
  outline: none;
  margin: 0 auto;
  @include rem(margin-top, 2.4);
  @include rem(padding, 1.2);

  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

#app-wrapper,
#main-content {
  height: 100%;
  overflow-y: scroll;
}

#app-wrapper {
  @include rem(padding-top, 4.8);
}

#main-content {
  color: #fff;
  // @include linear-gradient(#7cc09a, #57bbaf);

  &> div {
    @include rem(padding, 1.2, 1.2, 3.6);
  }
}

// button {
//   cursor: pointer;
// }

// h2 {
//   font-family: 'Ubuntu';
//   font-weight: 400;
//   text-align: center;
//   text-transform: uppercase;
// }

// h2 {
//   @include rem(padding, 1.2, 2.4);
// }

// h3 {
//   font-weight: 700;
//   @include rem(margin, 1.2, 0, 0.6);
// }

// h4 {
//   color: red;
// }

// ul,
// .list {
//   li,
//   .list-item {
//     border-bottom: 1px solid #eee;
//     @include rem(padding, 1.2, 2.4);

//     &:hover {
//       background-color: #eee;
//     }

//     &:active {
//       color: #fff;
//     }

//     &.active {
//       background-color: #bada55;
//     }
//   }
// }

// ul {
//   @include rem(padding, 1.2, 0);
// }

// header {
//   display: none;
// }

// nav ul {
//   overflow: auto;
//   padding: 0;

//   li {
//     float: left;
//     width: 33.333333%;
//   }
// }

/*
 * 4. Modules
 */

// @import "partials/navigation";

.tiles {
  @include display(flex);
}

.tile {
  @include flex(1);
  overflow: hidden;
}

.list {
  @include rem(padding-top, 1.2);
}

.list-item {
  background-color: rgba(255, 255, 255, 0.05);
  display: block;
  @include rem(margin-bottom, 1.2);
  @include rem(padding, 1.2);
  width: 100%;

  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }

  a {
    text-decoration: none;

    span {
      display: block;
      @include rem(font-size, 1);
    }
  }
}

/*
 * 5. Page Specific
 */

// SHOULD BE AVOIDED?

// @import "devices/devices";