@import "all";

// TODO: concatenate with app.min.css (add grunt task)
@import "devices/list/devices-list.scss";
@import "devices/add/devices-add.scss";


/******************************************************************************/
/*********************************** MOBILE ***********************************/
/******************************************************************************/


/*
 *  1. General
 */

*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  font-size: 62.5%;                       // 10px / 16px (= standard font-size in all modern browsers)
}

body {
  background-color: $beige-light;
  color: $grey-dark;
  font-family: $open-sans;
  @include rem(font-size, 1.6);
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1 {

}

h2 {

}

h3 {
  @include rem(font-size, 1.2);
  text-transform: uppercase;
}

// button,
a.button {
  cursor: pointer;
  display: block;
  @include rem(font-size, 1.6);
  font-weight: 300;
  @include rem(padding, 1.2);
  text-align: center;

//   &.rect {
//     background-color: $bgc-highlight-color;
//     border: 1px solid $bc-highlight-color;
//     color: $c-highlight-color;

//     &:hover {
//       background-color: $bgc-highlight-color-hover-add;
//       border-color: $bc-highlight-color-hover-add;
//       color: $c-highlight-color-hover-add;
//     }    
//   }

  &.circle {
    background-color: $white;
    border-radius: 50%;
    color: $beige-dark;
    @include rem(height, 4.8);
    @include rem(width, 4.8);

    &.add {
      background-color: $green-light;

      &:hover {
        background-color: $green-dark;
      }

      &:active {
        background-color: $green-dark;
        color: $green-light;
      }
    }

    &.edit {
      background-color: $green-light;

      &:hover {
        background-color: $green-dark;
      }

      &:active {
        background-color: $green-dark;
        color: $green-light;
      }
    }

    &.delete {
      background-color: $red-light;

      &:hover {
        background-color: $red-dark;
        color: $red-light;
      }
    }
  }
}

// a.button {
//   @include rem(padding, 1, 1.2, 1.4);
//   text-align: center;
// }

form {
  input[type="text"],
  input[type="password"] {
    @include appearance(none);
    background-color: $beige-light;
    border: none;
    // border-bottom: $bw-highlight solid $grey-dark;
    @include rem(font-size, 1.6);
    @include rem(line-height, 2.4);
    outline: none;
    @include rem(margin-bottom, 1.2);
    @include rem(padding, 0.6, 1.2);
    width: 100%;
  }
}




/*
 * 2. Layout
 */

#app-container {
  overflow: hidden;
}

#content-container {
  position: relative;
}

.list {
  li {
    background-color: $white;
    border-bottom: $bw-normal solid $beige-dark;
    cursor: pointer;
    @include rem(padding, 1.2);

    &:hover {
      background-color: $green-light;
      color: $white;
    }
  }
}

.tiles {
  li {
    background-color: $white;
    border-bottom: $bw-normal solid $beige-light;
    position: relative;

    div {
      @include rem(padding, 1.8, 10.8, 1.8, 1.2);

      &.meta {
        @include rem(padding, 0.6);
        position: absolute;
          right: 0;
          top: 0;

        button {
          @include appearance(none);
          border: none;
          border-radius: 50%;
          color: $white;
          cursor: pointer;
          display: inline-block;
          @include rem(height, 3.6);
          @include rem(width, 3.6);
        }

        .add {
          background-color: $green-light;

          &:hover {
            background-color: $green-dark;
            color: $white;
          }

          &:active {
            background-color: $green-dark;
            color: $green-light;
          }
        }

        .delete {
          background-color: $red-light;
          @include rem(margin-left, 0.6);

          &:hover {
            background-color: $red-dark;
            color: $white;
          }

          &:active {
            background-color: $red-dark;
            color: $red-light;
          }
        }
      }
    }    
  }
}


/*
 * 3. Overlay
 */

.overlay {
  // background-color: $grey-dark-transparent;
  background-color: $white;
  height: 100%;
  @include rem(padding-top, 4.8);
          overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
    left: 0;
    top: 0;
  width: 100%;
  z-index: 100;
//   height: 100%;
//   min-height: 100%;
//   overflow: scroll;
//   // @include rem(padding, 7.2, 2.4, 2.4);
//   @include rem(padding, 6, 0, 0);
//   position: fixed;
//     left: 0;
//     top: 0;
//   width: 100%;

  &,
  a {
    // color: $white;
  }

  p {
    // border-bottom: $bw-highlight solid $grey-dark;
    border-bottom: $bw-highlight solid $beige-dark;
    font-weight: 700;
    // @include rem(padding, 1.2);

    label {
      display: block;
      @include rem(padding, 0, 1.2);
      @include rem(margin-bottom, 1.2);
    }

    input {
      margin-bottom: 0;
    }
  }

  .close.button {
    position: absolute;
      right: 0;
      top: 0;

    // .circle {
    background-color: inherit;
    // color: $white;

    &:hover {
      color: $green-light;
    }

    &:active {
      color: $green-dark;
    }
  }

  .list {
    @include rem(margin-bottom, 2.4);
    li {
      background-color: inherit;
      // border-bottom: $bw-normal solid $grey-dark;
      border-bottom: $bw-normal solid $beige-dark;

      &:hover {
        // background-color: $grey-dark;
        background-color: $green-light;
        color: $white;
      }
    }
  }
}


/*
 * 4. Navigation
 */

#top-bar {
  @include rem(height, 4.8);
  position: absolute;
    left: 0;
    top: 0;
  width: 100%;
  // z-index: 100;

  h1,
  a {
    @include rem(padding, 1.2);
  }

  h1 {
    font-weight: 700;
    text-align: center;
  }

  a {
    color: $grey-dark;
    cursor: pointer;
    display: block;
    @include rem(height, 4.8);
    @include rem(padding, 1.2);
    position: absolute;
      right: 0;
      top: 0;
    // @include rem(width, 4.8);
    // z-index: 150;
  }
}

#main-navigation {
  background-color: $grey-light;
  border-bottom: $bw-highlight solid $grey-dark;
  display: none;
  @include rem(padding, 4.8, 0);
  width: 100%;

  &.show {
    display: block;
  }

  li {
    a {
      border-right: $bw-highlight solid $grey-light;
      color: $grey-dark;
      display: block;
      @include rem(font-size, 2.4);
      @include rem(padding, 1.2);
      text-align: center;

      &:hover {
        background-color: $grey-dark;
        border-color: $grey-dark;
        color: $grey-light;
      }

      &.active {
        border-color: $green-light;
        color: $green-light;
      }
    }
  }
}


/*
 * 5. Content
 */

#content {
  @include rem(padding, 6, 1.2, 1.2);
}

// ul.list {
//   width: 100%;

//   li {
//     background-color: $bgc-highlight-light;
//     border-bottom: 1px solid $bc-highlight-light;
//     cursor: pointer;
// //     @include rem(height, 19.2);
//     // @include rem(margin, 0, 2.4, 2.4, 0);
//     @include rem(padding, 2.4);
//     position: relative;
// //     @include rem(width, 19.2);

// //     &.add {
// //       display: block;
// //       @include rem(font-size, 9.6);
// //       @include rem(line-height, 9.6);
// //       @include rem(padding, 4.6,  4.8, 5);
// //       text-align: center;

// //       a {
// //         color: $c-highlight-light;
        
// //         &:hover {
// //           color: $c-highlight-light-hover;
// //         }
// //       }
// //     }
//   }

// //   .meta {
// //     overflow: auto;
// //     position: absolute;
// //       bottom: 0;
// //       left: 0;
// //     width: 100%;

// //     button {
// //       float: left;
// //     }
// //   }
// }

// // #device-wizard {
// //   margin: 0 auto;
// //   overflow: scroll;
// //   width: 50%;

// //   input[type="text"],
// //   input[type="password"] {
// //     @include appearance(none);
// //     border: 1px solid $bc-normal;
// //     @include rem(font-size, 1.6);
// //     @include rem(line-height, 2.4);
// //     outline: none;
// //     @include rem(padding, 1.2);
// //     @include rem(margin, 0);
// //     width: 100%;
// //   }
// // }

// // ul.dev {
// //   li {
// //     @include rem(margin-bottom, 1.2);
// //     @include rem(padding, 0, 1.2);
// //   }
// // }


// /******************************************************************************/
// /*********************************** TABLET ***********************************/
// /******************************************************************************/

// @media screen and (min-width: $bp-tablet) {

// /*
//  *  1. General
//  */




// /*
//  * 2. Layout
//  */




// /*
//  * 3. Overlay
//  */




// /*
//  * 4. Navigation
//  */




// /*
//  * 5. Content
//  */



// }


// /******************************************************************************/
// /****************************** DESKTOP - SMALL *******************************/
// /******************************************************************************/

@media screen and (min-width: $bp-desktop-small) {

/*
 *  1. General
 */

html,
body {
  height: 100%;
  overflow: hidden;
}


/*
 * 2. Layout
 */

#app-container,
#content-container {
  height: 100%;
}

#app-container {
  overflow: hidden;
}

#content-container {
  float: right;
  overflow-y: scroll;
  width: 70%;
}

.tiles {
  overflow: auto;
  width: 100%;

  li {
    background-color: $white;
    border: $bw-normal solid $beige-light;
    cursor: pointer;
    float: left;
    position: relative;
    width: 25%;

    &:after {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &> div {
      @include rem(padding, 1.2);
      position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

      // &:hover {
      //   background-color: $green-light;
      //   color: $white;
      // }
    }

    .meta {
      @include rem(margin, 2.4);
    }

    h3 {
      @include rem(padding, 0, 1.2);
      position: absolute;
        @include rem(bottom, 1.2);
        left: 0;
      text-align: center;
      width: 100%;
    }
  }
}


/*
 * 3. Overlay
 */




/*
 * 4. Navigation
 */

#top-bar {
  h1,
  a {
    display: none;
  }
}

#main-navigation {
  border-bottom: none;
  border-right: $bw-highlight solid $grey-dark;
  display: block;
  float: left;
  height: 100%;
  width: 30%;

  li {
    a {
      border-left: $bw-highlight solid $grey-light;
      border-right: none;
      color: $grey-dark;
    }
  }
}


/*
 * 5. Content
 */

#content {
  min-height: 100%;
  @include rem(padding, 4.8);
}

  
}


// /******************************************************************************/
// /****************************** DESKTOP - LARGE *******************************/
// /******************************************************************************/

// @media screen and (min-width: $bp-desktop-large) {

// /*
//  *  1. General
//  */




// /*
//  * 2. Layout
//  */




// /*
//  * 3. Overlay
//  */




// /*
//  * 4. Navigation
//  */




// /*
//  * 5. Content
//  */



// }






