@charset "UTF-8";

@import "all";

@import "devices/devices.scss";
@import "components/inputs/toggle-switch/inputs-toggle-switch.scss";


/*
 *  1. General
 */

*, *:before, *:after {
  @include box-sizing(border-box);
}

html,
body {
  height: 100%; 
}

html {
  font-size: 62.5%;                       // 10px / 16px (= standard font-size in all modern browsers)
}

body {
  color: $white;
  font-family: $open-sans;
  @include rem(font-size, 1.6);
  font-weight: 500;
  @include linear-gradient($green-light, $green-dark);
  line-height: 1.5;
}

strong {
  font-weight: 600;
}

a {
  color: $white;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
  text-align: center;
}

h1 {
  @include rem(font-size, 2.0);
}

h2 {
  @include rem(font-size, 1.2);
  @include rem(line-height, 1.2);
  text-transform: uppercase;
}


/*
 *  2. Classes
 */

.top-bar {
  background-color: $white-transparent-light;
  // background-color: $green-highlight-medium;
  @include rem(height, 5.5);
  @include rem(padding, 1.3, 0, 1.2);
  position: relative;

  .button {
    cursor: pointer;
    display: block;
    @include rem(font-size, 2.0);
    @include rem(height, 5.5);
    @include rem(padding, 1.3, 0, 1.2);
    position: absolute;
      top: 0;
    text-align: center;
    @include rem(width, 5.5);

    &:hover {
      background-color: $white-transparent-dark;
      // background-color: $green-highlight-light;
    }

    &.navigation {
      border-right: $bw-normal solid $white-transparent-dark;
      // border-right: $bw-normal solid $green-highlight-light;
      left: 0;
    }

    &.add,
    &.close {
      border-left: $bw-normal solid $white-transparent-dark;
      // border-left: $bw-normal solid $green-highlight-light;
      right: 0;
    }
  }
}

.overlay {
  @include linear-gradient($green-light, $green-dark);
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}


/*
 *  3. Layout
 */

#main-navigation {
  display: none;

  &.show {
    display: block;
  }

  a {
    // border-bottom: $bw-normal solid $green-highlight-light;
    display: block;
    @include rem(padding, 0.8);
  }
}

#content {
  h2 {
    // background-color: $green-highlight-dark;
    background-color: $white-transparent-medium;
    @include rem(padding, 0.7, 0, 0.6);
  }
}