<div class="overlay">
  <div class="top-bar">
    <a id="close-overlay" class="close button" ui-sref="devices">x</a>
  </div>

  <h2>{{ device.name }}</h2>

<!--   <p>Settings</p>
  <ul data-ng-repeat="param in deviceParams">
    <li data-ng-repeat="(key, value) in param">
      <strong>{{ key }}:</strong> {{ value }}
    </li>
  </ul> -->

  <ul>
    <li data-ng-repeat="action in deviceActions">
      <div>
        <p><strong>{{ action.name }}</strong></p>
        <ul>
          <li data-ng-repeat="param in action.params" data-ng-switch="param.type">
            <div>
              <guh-toggle data-ng-switch-when="bool">{{ param.name }}</guh-toggle>
            </div>
          </li>
        </ul>
      </div>

      <!-- {{ action.id }} -->
      
    </li>
  </ul>

</div>